* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6, li, a {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-btn {
  width: 12rem;
  height: 3.3rem;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  background: transparent;
  border: none;
  border: 2px solid #f36100;
  cursor: pointer;
  margin-top: 2rem;
  text-transform: uppercase;
}

.primary-btn:hover {
  background: #f36100;
}

#home {
  width: 100%;
  position: relative;
}

#home nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 2;
}

#home nav .navigation {
  width: 50%;
}

#home nav .navigation li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
}

#home nav .navigation li :hover {
  color: #f36100;
}

#home nav .navigation a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#home nav .navigation .add-color {
  color: #f36100;
}

#home nav .icons a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

#home nav .icons .line {
  color: grey;
  font-size: 1rem;
  font-weight: 100;
}

#home nav .hamburger {
  display: none;
}

#home .banner-slider {
  width: 100%;
  position: relative;
}

#home .banner-slider .item {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
}

#home .banner-slider .image-slider1 {
  background: url("../img/banner-1.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .banner-slider .image-slider2 {
  background: url("../img/banner-2.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .banner-slider .banner-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 43%;
  left: 51.5%;
}

#home .banner-slider .banner-text h3 {
  font-size: 1.3rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.4rem;
  font-weight: 500;
}

#home .banner-slider .banner-text h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.5rem;
  margin-top: 1rem;
}

#home .banner-slider .banner-text h1 strong {
  color: #f36100;
}

#home .banner-slider .banner-text .btn {
  width: 9rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  background: #f36100;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

#home .banner-slider .banner-text .btn:hover {
  background: transparent;
  border: 1px solid #f36100;
}

#choseus-section {
  width: 100%;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}

#choseus-section .heading h4 {
  color: #f36100;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}

#choseus-section .heading h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 0;
}

#choseus-section .box {
  width: 100%;
  padding: 2rem 0 1rem;
}

#choseus-section .box .box-item {
  width: 24%;
}

#choseus-section .box .box-item .img-item {
  background-color: #232323;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#choseus-section .box .box-item .img-item img {
  width: 45%;
  padding-top: 1.8rem;
}

#choseus-section .box .box-item h4 {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.2rem 0;
}

#choseus-section .box .box-item p {
  color: darkgray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

#classes-section {
  width: 100%;
  background-color: #151515;
  color: #fff;
  padding: 4rem 0;
}

#classes-section .heading-1 {
  text-align: center;
}

#classes-section .heading-1 h4 {
  color: #f36100;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}

#classes-section .heading-1 h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.6rem 0;
}

#classes-section .image-box {
  width: 100%;
  padding: 1rem 0;
}

#classes-section .image-box .img-sec {
  width: 32%;
  background-color: #0a0a0a;
}

#classes-section .image-box .img-sec .img-part {
  width: 100%;
}

#classes-section .image-box .img-sec .img-part .img-p {
  width: 100%;
  height: 100%;
}

#classes-section .image-box .img-sec .img-part .img-p img {
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #464646;
}

#classes-section .image-box .img-sec .head {
  width: 100%;
  padding: 2rem;
}

#classes-section .image-box .img-sec .head .head-text span {
  color: #f36100;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

#classes-section .image-box .img-sec .head .head-text h4, #classes-section .image-box .img-sec .head .head-text h3 {
  padding-top: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#classes-section .image-box .img-sec .head .icons {
  background-color: #232323;
  width: 50px;
  height: 50px;
}

#classes-section .image-box .img-sec .head .icons a {
  color: #fff;
  font-size: 2rem;
  padding-left: 1.5rem;
}

#classes-section .image-box .add-width {
  width: 48% !important;
}

#banner-section {
  width: 100%;
  height: 80vh;
  background-image: url("../img/banner-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

#banner-section .heading-2 {
  padding-top: 12%;
  text-transform: uppercase;
}

#banner-section .heading-2 h2 {
  font-size: 3rem;
  font-weight: 700;
}

#banner-section .heading-2 p {
  color: darkgray;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0;
}

#Pricing-Section {
  width: 100%;
  background-color: #151515;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}

#Pricing-Section .heading-3 {
  text-transform: uppercase;
}

#Pricing-Section .heading-3 h4 {
  color: #f36100;
  font-size: 1.2rem;
  font-weight: 400;
}

#Pricing-Section .heading-3 h2 {
  font-weight: 600;
  font-size: 2rem;
  padding: 0.6rem 0;
}

#Pricing-Section .container-box {
  width: 100%;
  margin-top: 2rem;
}

#Pricing-Section .container-box .pricing-box {
  width: 32%;
  border: 1px solid #464646;
  padding: 3rem 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#Pricing-Section .container-box .pricing-box h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

#Pricing-Section .container-box .pricing-box .pi-price {
  padding: 1rem 0 2rem;
}

#Pricing-Section .container-box .pricing-box .pi-price h2 {
  color: #f36100;
  font-size: 4rem;
  font-weight: 700;
}

#Pricing-Section .container-box .pricing-box .pi-price span {
  color: #dad5d5;
  font-size: 1.1rem;
  font-weight: 600;
}

#Pricing-Section .container-box .pricing-box p {
  font-weight: 300;
  font-size: 1.1rem;
  color: darkgray;
  line-height: 2.2rem;
}

#Pricing-Section .container-box .pricing-box .primary-btn {
  width: 20rem;
  border: 0;
  background: #333333;
}

#Pricing-Section .container-box .pricing-box:hover {
  background: #fff;
}

#Pricing-Section .container-box .pricing-box:hover h3 {
  color: #000;
}

#Pricing-Section .container-box .pricing-box:hover p {
  color: #333333;
}

#Pricing-Section .container-box .pricing-box:hover .pi-price span {
  color: #151515;
}

#Pricing-Section .container-box .pricing-box:hover .primary-btn {
  background: #f36100;
}

#gallery-section {
  width: 100%;
  background-color: #151515;
  padding: 3rem 0;
}

#gallery-section .gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.6rem;
}

#gallery-section .gallery .gallery-image {
  width: 24.5%;
}

#gallery-section .gallery .gallery-image .img-i {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gallery-section .gallery .gallery-image .img-i img {
  width: 100%;
  height: 100%;
}

#gallery-section .gallery .gallery-image .img-i img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#gallery-section .gallery .big-img {
  width: 49.7%;
}

#gallery-section .gallery .big-img .img-i {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gallery-section .gallery .big-img .img-i img {
  width: 100%;
  height: 100%;
}

#gallery-section .gallery .big-img .img-i img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#team-section {
  width: 100%;
  background-color: #151515;
  padding: 3rem 0 5rem;
}

#team-section .team-title {
  padding-bottom: 2rem;
}

#team-section .team-title .sec-title {
  text-transform: uppercase;
  color: #fff;
}

#team-section .team-title .sec-title h4 {
  color: #f36100;
  font-size: 1.2rem;
  font-weight: 400;
}

#team-section .team-title .sec-title h2 {
  font-weight: 600;
  font-size: 2rem;
  padding: 0.6rem 0;
}

#team-section .team-title .button-sec {
  padding-bottom: 2rem;
}

#team-section .team-slider {
  width: 100%;
}

#team-section .team-slider .item {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  position: relative;
}

#team-section .team-slider .animate-text {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #0a0a0a;
  padding: 4rem 0 3rem;
  -webkit-clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
}

#team-section .team-slider .animate-text h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

#team-section .team-slider .animate-text span {
  font-size: 1.1rem;
  color: darkgray;
  font-weight: 300;
}

#team-section .team-slider .animate-text:hover::before {
  opacity: 1;
}

#team-section .team-slider .item:hover .animate-text {
  opacity: 1;
  top: 300px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#team-section .team-slider .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#team-section .team-slider .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

#team-section .team-slider .item .animate-text {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  top: 450px;
}

#team-section .team-slider .owl-nav button.owl-next,
#team-section .team-slider .owl-nav button.owl-prev,
#team-section .team-slider button.owl-dot {
  margin-top: 2rem;
  background: #fff;
  color: #0a0a0a;
  border: none;
  width: 50px;
  height: 50px;
  font: inherit;
  font-size: 2rem;
}

#team-section .team-slider .owl-nav button.owl-next:hover,
#team-section .team-slider .owl-nav button.owl-prev:hover,
#team-section .team-slider button.owl-dot:hover {
  background-color: #f36100;
  color: #fff;
}

#gettouch-section {
  width: 100%;
  background-color: #0a0a0a;
  color: #fff;
  padding: 2rem 0;
}

#gettouch-section .three-sec {
  width: 100%;
}

#gettouch-section .three-sec .three-part {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gettouch-section .three-sec .three-part .icons {
  background-color: #f36100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

#gettouch-section .three-sec .three-part .icons i {
  font-size: 2rem;
  padding-top: 1.3rem;
}

#gettouch-section .three-sec .three-part .para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gettouch-section .three-sec .three-part .para p {
  font-size: 1rem;
  font-weight: 200;
  padding: 0 1rem;
}

#gettouch-section .three-sec .three-part .para .add-border {
  border-right: 1px solid gray;
}

#footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 3rem 0;
}

#footer .footer-box {
  width: 100%;
}

#footer .footer-box .footer-sec-A {
  width: 32%;
}

#footer .footer-box .footer-sec-A p {
  color: #c4c4c4;
  padding: 1.5rem 0 1rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
}

#footer .footer-box .footer-sec-A a {
  color: #c4c4c4;
  padding-right: 0.7rem;
  font-size: 1.1rem;
}

#footer .footer-box .footer-sec-B {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer .footer-box .footer-sec-B h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

#footer .footer-box .footer-sec-B .para p {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 1.1rem 0  0;
}

#footer .footer-box .footer-sec-C {
  width: 32%;
}

#footer .footer-box .footer-sec-C h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

#footer .footer-box .footer-sec-C h6 {
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0.8rem 0;
}

#footer .footer-box .footer-sec-C hr {
  height: 1px;
  background: #c4c4c4;
  border: none;
  margin-top: 1rem;
}

#footer .footer-box .footer-sec-C .para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-box .footer-sec-C .para p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #747171;
  padding-right: 2rem;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright hr {
  height: 1px;
  background: #c4c4c4;
  border: none;
  margin: 4rem 0 2rem;
}

#footer .copyright p {
  color: #c4c4c4;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

#footer .copyright span {
  color: #f36100;
}

@media (max-width: 1000px) {
  .inner {
    max-width: 900px;
  }
  #home nav .navigation {
    position: fixed;
    width: 350px;
    background-color: #fff;
    height: 100%;
    z-index: 6;
    top: 0px;
    left: -550px;
    text-align: center;
  }
  #home nav .navigation li {
    width: 100%;
  }
  #home nav .navigation li :hover {
    border: 0;
  }
  #home nav .navigation a {
    display: block;
    color: #151515;
  }
  #home nav .active {
    left: 0px;
  }
  #home nav .hamburger {
    display: block;
    height: 35px;
    position: fixed;
    right: 10px;
    width: 45px;
    height: 35px;
    border-radius: 6px;
    background-color: #232323;
    z-index: 999;
    cursor: pointer;
  }
  #home nav .hamburger .line {
    display: block;
    background-color: #fff;
    width: 34px;
    height: 2px;
    margin-top: 6px;
    margin-left: 6px;
  }
  #home nav .hamburger .line-1 {
    margin-top: 9px;
  }
  #home nav .hamburger .rotate-line-1 {
    -webkit-transform: rotate(121deg) translate(6px, -3px);
            transform: rotate(121deg) translate(6px, -3px);
  }
  #home nav .hamburger .rotate-line-2 {
    -webkit-transform: rotate(243deg);
            transform: rotate(243deg);
  }
  #home nav .hamburger .remove-line-3 {
    display: none;
  }
  #home nav .icons {
    display: none;
  }
  #home .banner-slider .banner-text {
    top: 30%;
    left: 25%;
  }
  #choseus-section .box .box-item {
    width: 48%;
    padding: 1rem 0;
  }
  #classes-section .image-box .img-sec .head .head-text span {
    font-size: 0.9rem;
    font-weight: 300;
  }
  #classes-section .image-box .img-sec .head .head-text h4, #classes-section .image-box .img-sec .head .head-text h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0;
  }
  #Pricing-Section .container-box .pricing-box .custom {
    width: 16rem;
  }
  #gettouch-section .three-sec .three-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gettouch-section .three-sec .three-part .para {
    margin-top: 1rem;
  }
  #footer .footer-box .footer-sec-A {
    width: 100%;
  }
  #footer .footer-box .footer-sec-B {
    width: 45%;
    padding-top: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer-box .footer-sec-C {
    width: 45%;
    padding-top: 2rem;
  }
}

@media (max-width: 800px) {
  .inner {
    max-width: 700px;
  }
  #home nav .navigation li {
    font-size: 1rem;
    font-weight: 500;
  }
  #home nav .navigation .add-color {
    color: #151515;
  }
  #home .banner-slider .banner-text h3 {
    font-size: 1.1rem;
  }
  #home .banner-slider .banner-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5rem;
  }
  #choseus-section .heading h4 {
    font-size: 1.1rem;
  }
  #choseus-section .heading h2 {
    font-size: 1.5rem;
  }
  #choseus-section .box .box-item h4 {
    font-size: 1.3rem;
  }
  #choseus-section .box .box-item p {
    font-weight: 300;
  }
  #classes-section .heading-1 h4 {
    font-size: 1.1rem;
  }
  #classes-section .heading-1 h2 {
    font-size: 1.5rem;
  }
  #classes-section .image-box .img-sec {
    width: 100%;
    margin-top: 2rem;
  }
  #classes-section .image-box .add-width {
    width: 100% !important;
    margin-top: 2rem;
  }
  #banner-section .heading-2 h2 {
    font-size: 1.9rem;
    font-weight: 600;
  }
  #banner-section .heading-2 p {
    font-size: 1.2rem;
  }
  #Pricing-Section .heading-3 h4 {
    font-size: 1.1rem;
  }
  #Pricing-Section .heading-3 h2 {
    font-size: 1.5rem;
  }
  #Pricing-Section .container-box .pricing-box {
    width: 100%;
    margin-top: 2rem;
  }
  #Pricing-Section .container-box .pricing-box p {
    font-size: 1rem;
    line-height: 2rem;
  }
  #Pricing-Section .container-box .pricing-box .primary-btn {
    width: 20rem;
  }
  #gallery-section .gallery .gallery-image {
    width: 49%;
    padding-top: 1rem;
  }
  #gallery-section .gallery .big-img {
    width: 100%;
    padding-top: 1rem;
  }
  #team-section .team-title .sec-title h4 {
    font-size: 1.1rem;
  }
  #team-section .team-title .sec-title h2 {
    font-size: 1.5rem;
  }
  #gettouch-section .three-sec .three-part {
    width: 100%;
    padding-bottom: 2rem;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  #footer .footer-box .footer-sec-B {
    width: 100%;
    padding-top: 3rem;
  }
  #footer .footer-box .footer-sec-C {
    width: 100%;
    padding-top: 3rem;
  }
}

@media (max-width: 520px) {
  .inner {
    max-width: 400px;
  }
  #home nav .navigation {
    width: 80%;
  }
  #home .banner-slider .banner-text {
    left: 8%;
  }
  #home .banner-slider .banner-text h3 {
    font-size: 1rem;
  }
  #home .banner-slider .banner-text h1 {
    font-size: 2.6rem;
    line-height: 3.8rem;
  }
  #choseus-section .box .box-item {
    width: 100%;
    margin-top: 1rem;
  }
  #banner-section .heading-2 h2 {
    font-size: 1.3rem;
  }
  #banner-section .heading-2 p {
    font-size: 1rem;
    font-weight: 400;
  }
  #gallery-section .gallery .gallery-image {
    width: 100%;
  }
  #team-section .team-title .sec-title, #team-section .team-title .button-sec {
    width: 100%;
  }
  #footer .footer-box .footer-sec-A p {
    font-weight: 200;
  }
  #footer .footer-box .footer-sec-B h4 {
    font-size: 1.4rem;
  }
  #footer .footer-box .footer-sec-C h4 {
    font-size: 1.4rem;
  }
  #footer .footer-box .footer-sec-C h6 {
    font-weight: 300;
    font-size: 1rem;
  }
  #footer .copyright P {
    font-size: 1rem;
    font-weight: 300;
  }
}
/*# sourceMappingURL=style.css.map */